p, h1 {
    font-family: 'Droid Sans', sans-serif;
}


/*Navigation*/

.navbar {
    background: #ffffff;
    border-bottom: 1px solid #b9b9b9;
    font-family: 'Lato', sans-serif;
}

.navbar a {
    color: black !important;
}

.navbar a:hover {
    color:  !important;
   color: #86abad !important;
}

.navbar-header .navbar-brand {
    color: black important!;
    font-size: 1.5em;
    font-family: 'Muli', sans-serif;
    
}

/* Header */

.header {
    padding: 140px 0 60px;
    background: url(../img/BHbg1.jpg) no-repeat center center;
    background-size: cover;
    width: 100%;
    border-bottom: 2px solid #c9c9c9;
}

.header .img-responsive {

transform: translateY(90px);
max-width: 80%;
}

.header h1 {
    color: white;
    font-family: 'Muli', sans-serif;
    font-size: 7.5em;
}
.header p {
    color: white;
    font-size: 1.3em;
}

.header .btn {
    padding: 5px 50px 5px 50px;
    border-radius: 0px;
}


/*About Section*/

.about {
    padding: 50px 0 100px;
    text-align: center;
}

.about h1 {
    font-size: 1.9em;
color: black;
    padding: 0 0 25px;
}

.about p {
    padding-bottom: 15px;
}
/*features Section*/

.features {
    background-color: #86abad;
    text-align: center;
    color: white;
    padding: 45px 0 45px;
}

.features h1 {
    font-size: 2em;
    padding-bottom: 25px;
}

.features img {
    padding: 15px 0 25px;

}

/*Product Section*/
.products {
    background-color: white;
    color: black;
}


/*contact section*/

.contact {
    background-color: #86abad;
    color: white;
}

/*Media Queries*/



/*Under 768px*/
@media(max-width:1000px) {
    .header {
        text-align: center;
        padding-top: 20%;
    }
    
    .header h1 {
        font-size: 5em;
        
    }
    
    .header .img-responsive {

transform: translateY(0);
max-width: 50%;
}
    .header p {
        font-size: 1em;
    }
    
    .header .btn {
        padding: 4px 12px 5px 12px;
    }
    
    .header img {
        padding-top: 10%;
        
    }
    
}